body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    display: flex;
    align-items: center;
}

#polygonCanvas {
    margin-top: 150px;
    /* 上マージンをさらに増加 */
    margin-right: 20px;
    /* スライダーとキャンバスの間のスペース */
}

#controls {
    display: flex;
    flex-direction: column;
}

.control-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#sidesSlider {
    width: 200px;
    /* スライダーの長さを調整 */
    margin-right: 10px;
    /* ボタンとの間隔を調整 */
}

#drawButton {
    margin-left: 10px;
    /* ボタンの位置を調整 */
}

#piValues {
    margin-top: 20px;
}