body {
    display: flex;
    justify-content: flex-start;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    display: flex;
    align-items: center;
}

#polygonCanvas {
    margin-top: 150px;
    /* 上マージンをさらに増加 */
}

#controls {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.control-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#sidesSlider {
    width: 300px;
    margin-right: 10px;
}

#drawButton {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 187, 0);
}

#drawButton:hover {
    background-color: rgb(255, 205, 66);
}

#piValues {
    margin-top: 20px;
}